@import './variables';

.flex {
  display: flex;

  &.flex--column {
    flex-direction: column;
  }
}

.page-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*
 * Title & description
 */
.site-title {
  font-family: $header_font;
  line-height: $site_title_line_height;
  color: $site_title_color;
  font-size: $site_title_font_size;
  white-space: nowrap;
  font-weight: 600;
}

.site-description {
  font-family: $header_font;
  color: $site_description_color;
  font-size: $site_description_font_size;
}

/*
 * Sidebar
 */
.sidebar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  height: 100%;
  width: $sidebar_width;
  text-align: left;

  color: $sidebar_color;
  background-color: $sidebar_background;
  border-right: 1px solid $sidebar_border;

  footer {
    margin: $navigation_margin;
    width: $navigation_width;
    position: static;
    align-self: flex-end;
    justify-self: end;
    background-color: #f5f6fa;
    padding-bottom: 1rem;
  }
}

/* 
 * Logo
 */
.logo {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  text-align: left;

  width: $logo_width;
  height: 90px;
  border-bottom: 1px solid $logo_border;
  padding: $logo_padding;

  img {
    width: $logo_img_width;
    height: $logo_img_height;
  }
}

/*
 * Navigation
 */
nav {
  flex: 1 1 auto;
  padding-top: 3rem;
  width: $navigation_width;

  li {
    margin: 5px 0;
    list-style: none;
    color: $navigation_color;

    // Submenu
    > ul {
      display: $navigation_submenu_default_display;

      li {
        &:before {
          position: relative;
          top: 1px;
          display: inline-block;
          content: '-';
          color: $navigation_submenu_color;
          text-indent: -5px;
        }

        a {
          color: $navigation_submenu_color;
          font-size: $navigation_submenu_font_size;
        }
      }
    }

    &.active {
      > ul {
        display: block;
      }
    }
  }

  a {
    font-size: $navigation_font_size;
    color: $navigation_color;

    &.active:first-child {
      color: $active_link_color;
    }
  }

  .navigation-list-child-list {
    margin-left: $navigation_submenu_indent;
  }
}

/*
 * Content
 */
.content {
  width: 100%;
  margin-left: $sidebar_width;
  overflow-y: scroll;

  .main {
    width: 60%;
    padding-top: 3rem;
    margin: 0 auto;

    ul,
    ol,
    dl {
      margin-left: 35px;
    }
  }
}

.steps {
  width: 100%;
  display: flex;
  margin: 20px 0px;

  .step {
    display: flex;
    align-items: center;
    flex: 1 50%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 8px 20px;
    margin-right: 5px;
    transition: all 0.3s linear;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border: 1px solid $active_link_color;
      color: $active_link_color;
      text-decoration: none;

      .step__arrow {
        border: solid $active_link_color;
        border-width: 0 3px 3px 0;
      }

      > .step__text__name {
        color: $active_link_color !important;
      }
    }

    &.step--previous {
      flex-direction: row-reverse;
      .step__arrow {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }

      .step__icon {
        flex: 1;
      }

      .step__text {
        text-align: right;
      }
    }

    &.step--next {
      .step__arrow {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }

      .step__text {
        flex: 1;
      }
    }

    .step__text {
      span.text-muted {
        display: block;
        line-height: 1;
      }

      .step__text__name {
        color: #313131;
      }
    }

    i.step__arrow {
      width: 10px;
      height: 10px;
      border: solid rgba(0, 0, 0, 0.2);
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transition: all 0.3s linear;
    }
  }
}

.text-muted {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

/*
 * Bar
 */
.bar {
  height: $logo_height;
  border-bottom: 1px solid $sidebar_border;
}

blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}
